body {
    background-color: #2B2D42;
    font-family: Arial, Helvetica, sans-serif;
    color: #EDF2F4;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

div {
    border: 2px solid #EDF2F4;
}

.author-info {
    text-align: center;
}

.imgage-container {
    height: 300px;
    display: inline-block;
}


#foto {
    max-height: 280px;
    float: left;
    padding: 10px;
    background-color: #8d99ae;
}

.myName {
    font-family: Helvetica;
}
header {
    text-align: end;
}

header li {
    display: inline-block;
}

header li a {
    text-decoration:  none;
    color: #EDF2F4;
}

.html {
    font-size: 24px;
}
.css {
    font-size: 20px;
}
.js {
    font-size: 16px;
}
.git {
    font-size: 12px;
}
.react {
    font-size: 8px;
}

