body {
    background-color: #2B2D42;
    font-family: Arial, Helvetica, sans-serif;
    color: #EDF2F4;
}

.description {
    font-family: 'Roboto', sans-serif;
    width: 48%;
    display: inline-block;
    position: relative;
    bottom: 250px;
}

.description p {
    font-size: 24px;
}

div {
    border: 2px solid #EDF2F4;
}

.author-info {
    text-align: center;
}

.imgage-container {
    width: 80%;
    mar
}


.foto {
    width: 48%;
    padding: 10px;
    background-color: #8d99ae;
    display: inline-block;

}

.foto img {
    border-radius: 50%;
}

.myName {
    font-family: Helvetica;
}
header ul{
    text-align: end;
}

header li {
    display: inline-block;
}

header li a {
    text-decoration:  none;
    color: #EDF2F4;
}
